@import '../../styles/media-queries.scss';

.Qualification {
  @include grid-columns(8, 3);

  grid-area: qualification;
  .header {
    display: flex;
    justify-content: space-around;

    h3 {
      padding: 0.7vh 2vw;
      border-radius: 10px;
    }

    h3.selected {
      color: #6c55e0;
    }
    // h3:hover {
    //     background-color: #988ada;
    // }
  }

  .history {
    position: relative;
  }
}
