$breakpoint-mobile: 400px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1440px;

@mixin mobile() {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin large-desktop() {
  @media (min-width: $breakpoint-large-desktop) {
    @content;
  }
}

@mixin page-grid {
  @include grid(12);
  @include container;
}

@mixin grid($columns) {
  display: grid;
  grid-template-columns: repeat($columns, auto);
}

@mixin grid-columns($widthInColumns: 12, $startColumn: null) {
  @if not $startColumn {
    grid-column: span $widthInColumns;
  } @else {
    grid-column: $startColumn / span $widthInColumns;
  }
}

@mixin container {
  @include tablet() {
    max-width: 900px;
  }

  @include desktop() {
    max-width: 980px;
  }

  @include large-desktop() {
    max-width: 1400px;
  }
}
