@import '../../styles/media-queries.scss';

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include tablet() {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 2rem;
  }

  &__selfie {
    color: #6c55e0;
    font-size: 200px;
    position: relative;
    top: -20px;

    @include tablet() {
      font-size: 250px;
      top: -25px;
    }
  }

  &__cta-email {
    display: flex;
    justify-content: center;
    text-decoration: none;

    @include tablet() {
      justify-content: left;
    }

    .contact {
      display: flex;
      background-color: #6c55e0;
      color: whitesmoke;
      width: fit-content;
      padding: 0.5rem 1rem;
      border-radius: 1vh;
      margin-top: 1rem;

      .email {
        margin-left: 2vw;
        font-size: 24px;
      }
    }
  }

  &__summary {
    display: inline-flex;
    flex-direction: column;

    @include tablet() {
      text-align: left;
    }
    h5 {
      font-size: 1.2em;
      margin: 0.5em 0;
    }
  }
}
