@import '../../styles/media-queries.scss';

.header {
  grid-area: header;

  display: none;
  justify-content: space-between;
  align-items: center;

  @include tablet() {
    display: flex;
  }

  &__name {
    text-align: left;
    font-size: x-large;
  }

  &__nav {
    display: flex;
  }

  &__nav-item {
    display: grid;
    place-items: center;
    flex-grow: 1;
    min-width: 5rem;
    padding: 8px;
    text-decoration: none;
    color: inherit;
    position: relative;

    &:hover {
      top: -2px;
      font-weight: bolder;
    }

    &.-icon {
      min-width: 1rem;
    }
  }
}
