@import '../../styles/media-queries.scss';

.Header {
    visibility: hidden;
    height: 10vh;
    @include from-medium() {
        display: flex;
        visibility: visible;
        justify-content: space-between;
    }
    nav {
        display: flex;
        justify-content: flex-end;
        gap: 1vw;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}
