.skill {
  &__header {
    display: flex;
    align-items: center;

    .skill-icon {
      font-size: 30px;
      color: #6c55e0;
    }

    &-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &__heading {
      display: flex;
      font-size: 16px;
      font-weight: bold;
      flex-direction: column;
      align-items: flex-start;

      .heading {
        text-align: left;
      }
  }

  .skill {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
  }
}
