@import './styles/media-queries.scss';

.App {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(90%, 10fr) minmax(0, 1fr);
  grid-template-areas: '. main .';
  text-align: center;
  font-family: 'Poppins', sans-serif;

  @include tablet() {
    grid-template-columns: minmax(0, 1fr) minmax(80%, 6fr) minmax(0, 1fr);
    grid-template-areas: '. main .';
  }

  @include desktop() {
    grid-template-columns: minmax(0, 1fr) minmax(50%, 3fr) minmax(0, 1fr);
    grid-template-areas: '. main .';
  }

  .download {
    text-align: center;
  }

  .main {
    grid-area: main;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .heading {
    margin: 0;
  }

  .grey-text {
    color: grey;
  }
}

* {
  box-sizing: border-box;
}
